%h1
  registrations new

= link_to "ログインする", new_sessions_path

- @user.errors.each do |attr, message|
  .alert.alert-danger= message


= form_for @user, url: registrations_path, method: :post do |f|
  %table
    %tbody
      %tr
        %td.alignright
          ユーザネーム：
        %td
          = f.text_field :name
      %tr
        %td.alignright
          メールアドレス*：
        %td
          = f.text_field :email, :placeholder => "example@example.com"
      %tr
        %td.alignright
          パスワード*：
        %td
          = f.password_field :password
        / %tr
        / %td.alignright
        /   パスワード（確認用）*：
        / %td
        /   = f.password_field :password_confirmation

  = f.submit
