= form_for :school, url: schools_path do |f|
  - if @school.errors.any?
    / %error_explanation
    %h2
      = pluralize(@school.errors.count, "error")
      %br このままでは投稿ができません。
    %ul
      - @school.errors.full_messages.each do |msg|
        %li= msg
  %p
    = "School_Name"
  %p
    = f.text_field :name
  %p
    = "School_Location"
  %p
    = f.text_field :location
  %p
    = "Educational_Program_Name"
  %p
    = f.text_field :educationalprogram
  %p
    = "------------------ENG--------------------"
  %p
    = "ENG_School_Name"
  %p
    = f.text_field :eng_name
  %p
    = "ENG_Location"
  %p
    = f.text_field :eng_location
  %p
    = "ENG_program"
  %p
    = f.text_field :eng_program
  = "-----------------------------------------"
  %p
    = "School_Type"
  %p
    = f.check_box :kindergarten
    / # = f.check_box(:kindergarten, { :multiple => true }, true, false)
    = "Kindergarten"
  %p
    = f.check_box :primary
    = "Primary School"
  %p
    = f.check_box :middle
    = "Middle School"
  %p
    = f.check_box :high
    = "High School"


  %p
    = f.submit