
.topspace
%p
  = notice
- if logged_in?
  %h1
    Listing Schools

  %table
    %thead
      %tr
        %th
          No.
        %th
          口コミ数
        %th
          name
        %th
          location
        %th
          program
        %th
          kindergarten
        %th
          primary
        %th
          middle
        %th
          high
        %th

    %tbody
      -@schools.each do |school|
        %tr
          %td
            = school.id
          %td
            = school.comments.count
          %td
            = school.name
          %td
            = school.location

          %td
            = school.educationalprogram
          %td
            - if school.kindergarten == nil
              = "no input"
            - else
              - if school.kindergarten == true
                = "幼"
          %td
            - if school.primary == nil
              = "no input"
            - else
              - if school.primary == true
                = "小"
          %td
            - if school.middle == nil
              = "no input"
            - else
              - if school.middle == true
                = "中"
          %td
            - if school.high == nil
              = "no input"
            - else
              - if school.high == true
                = "高"
          %td
            = link_to 'Show', school

          - if logged_in?
            %td
              = link_to 'Edit', edit_school_path(school)
            %td
              = link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }
  %h2
    = link_to 'New School', new_school_path
- else
  = link_to '(To Admin)新しい学校を登録するには登録/ログイン', new_registrations_path, method: :get



.mainbody
  .row
    .tabbable
      #content
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#1"}
              %h4 国内
          %li
            %a{"data-toggle" => "tab", :href => "#2"}
              %h4 国外
      #my-tab-content.tab-content
        #1.tab-pane.active
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            /国内の学校ならば
            / -tokyo = []
            / -nottokyo = []
            -kokunai = []
            -kokunai = @schools.where(japan:true)
            / # -kokunai.order("location")
            -kokunai.each do |kokunai|
              / -if kokunai.location.include?("東京")
              -if kokunai.location == "東京都" || kokunai.location == "東京都品川区北品川5-12-4" || kokunai.location == "東京都武蔵野市西久保2-6-2" || kokunai.location == "東京都練馬区豊玉北4-29-11" || kokunai.location == "東京都世田谷区羽根木1-21-11" || kokunai.location == "東京都港区六本木6-16-5" || kokunai.location == "東京都港区三田3-4-22" || kokunai.location == "東京都港区元麻布2-14-7" || kokunai.location == "東京都新宿区四谷2-11-6" || kokunai.location == "東京都江東区白河1-5-15" || kokunai.location == "東京都江東区東陽2-2-20" || kokunai.location == "東京都品川区北品川5-8-20" || kokunai.location == "目黒校：東京都目黒区青葉台2-11-5" || kokunai.location == "東京都品川区上大崎2-7-16" || kokunai.location == "東京都目黒区自由ケ丘1-14-16" || kokunai.location == "東京都台東区浅草橋5-1-35" || kokunai.location == "東京都杉並区和泉1-19-14 B1"
                %h4.menuline 東京都内
                %h3.menuline1
                  = link_to kokunai.name, kokunai
                %p.menuline2
                  ="　場所："
                  =kokunai.location[0,8]
                  ="…/カリキュラム："
                  =kokunai.program
                  ="/口コミ数："
                  =kokunai.comments.count
                  ="区分："
                  - if kokunai.kindergarten == nil
                    = "no input"
                  - else
                    - if kokunai.kindergarten == true
                      = "幼"
                  - if kokunai.primary == nil
                    = "no input"
                  - else
                    - if kokunai.primary == true
                      = "小"
                  - if kokunai.middle == nil
                    = "no input"
                  - else
                    - if kokunai.middle == true
                      = "中"
                  - if kokunai.high == nil
                    = "no input"
                  - else
                    - if kokunai.high == true
                      = "高"
              -else
                %h4.menuline 東京都以外
                %h3.menuline1
                  = link_to kokunai.name, kokunai
                %p.menuline2
                  ="　場所："
                  =kokunai.location[0,8]
                  ="…/カリキュラム："
                  =kokunai.program
                  ="/口コミ数："
                  =kokunai.comments.count
                  ="区分："
                  - if kokunai.kindergarten == nil
                    = "no input"
                  - else
                    - if kokunai.kindergarten == true
                      = "幼"
                  - if kokunai.primary == nil
                    = "no input"
                  - else
                    - if kokunai.primary == true
                      = "小"
                  - if kokunai.middle == nil
                    = "no input"
                  - else
                    - if kokunai.middle == true
                      = "中"
                  - if kokunai.high == nil
                    = "no input"
                  - else
                    - if kokunai.high == true
                      = "高"
            / -tokyo.each do |tokyo|
            /   %h3.menuline1
            /     =tokyo.name
            /   %p.menuline2
            /     =tokyo.location[0,8]
            /     ="…/カリキュラム："
            /     =tokyo.program
            /     ="/口コミ数："
            /     =tokyo.comments.count


            /   %h4.menuline 東京都でない
            /   - nottokyo.each do |nottokyo|
            /     %h3.menuline1
            /       =nottokyo.name
            /     %p.menuline2
            /       =nottokyo.location[0,8]
            /       ="…/カリキュラム："
            /       =nottokyo.program
            /       ="/口コミ数："
            /       =nottokyo.comments.count

            .topspace
            .topspace
            .topspace
            .topspace


        #2.tab-pane
          -kokugai = []
          -kokugai != @schools.where(japan:true)
          -kokugai.each do |kokugai|
            / -if kokunai.location.include?("東京")
            / -if kokugai.location == "Hamburg" || kokugai.location == "Singapore" || kokugai.location == "San Diego" || kokugai.location == "Bangkok" || kokugai.location == "Madagascar"|| kokugai.location == "Beijing" || kokugai.location == "Brussels" || kokugai.location == "Burnaby"
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %h4.menuline
                =kokugai.location
              %h3.menuline1
                = link_to kokugai.name, kokunai
              %p.menuline2
                ="カリキュラム："
                =kokugai.program
                ="/口コミ数："
                =kokugai.comments.count
                ="区分："
                - if kokunai.kindergarten == nil
                  = "no input"
                - else
                  - if kokunai.kindergarten == true
                    = "幼"
                - if kokunai.primary == nil
                  = "no input"
                - else
                  - if kokunai.primary == true
                    = "小"
                - if kokunai.middle == nil
                  = "no input"
                - else
                  - if kokunai.middle == true
                    = "中"
                - if kokunai.high == nil
                  = "no input"
                - else
                  - if kokunai.high == true
                    = "高"
            .topspace
            .topspace
            .topspace
            .topspace
            .topspace