/ LISTING SCHOOLS
%p
  = notice
- if logged_in?

  %table
    %thead
      %tr
        %th
          No.
        %th
          口コミ数
        %th
          name
        %th
          location
        %th
          program
        %th
          kindergarten
        %th
          primary
        %th
          middle
        %th
          high
        %th

    %tbody
      -@schools.each do |school|
        %tr
          %td
            = school.id
          %td
            = school.comments.count
          %td
            = school.name
          %td
            = school.location

          %td
            = school.educationalprogram
          %td
            - if school.kindergarten == nil
              = "no input"
            - else
              - if school.kindergarten == true
                = "幼"
          %td
            - if school.primary == nil
              = "no input"
            - else
              - if school.primary == true
                = "小"
          %td
            - if school.middle == nil
              = "no input"
            - else
              - if school.middle == true
                = "中"
          %td
            - if school.high == nil
              = "no input"
            - else
              - if school.high == true
                = "高"
          %td
            = link_to 'Show', school

          - if logged_in?
            %td
              = link_to 'Edit', edit_school_path(school)
            %td
              = link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }
  %h2
    = link_to 'New School', new_school_path
- else
  = link_to '(To Admin)新しい学校を登録するには登録/ログイン', new_registrations_path, method: :get



.mainbody
  .row
    .tabbable
      #content
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#1"}
              %h4 国内
          %li
            %a{"data-toggle" => "tab", :href => "#2"}
              %h4 国外
      #my-tab-content.tab-content
        #1.tab-pane.active
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            -kokunai = []
            -kokunai = @schools.where(japan:true)
            / # -kokunai.order("location")

            -kindergarten = []
            -kindergarten = kokunai.where(kindergarten:true)


            -primary = []
            -primary = kokunai.where(primary:true)

            -middle = []
            -middle = kokunai.where(middle:true)

            -high = []
            -high = kokunai.where(high:true)

            %h4.menuline
              = "幼稚園　"
            -kindergarten.each do |kindergarten|
              = link_to school_path(kindergarten) do
                %h4.menuline1
                  = kindergarten.name
                %p.menuline2
                  ="　場所："
                  =kindergarten.location[0,8]
                  ="…/カリキュラム："
                  =kindergarten.program
                  ="/口コミ数："
                  =kindergarten.comments.count
                  ="区分："
                  - if kindergarten.kindergarten == nil
                    = "no input"
                  - else
                    - if kindergarten.kindergarten == true
                      = "幼"
                  - if kindergarten.primary == nil
                    = "no input"
                  - else
                    - if kindergarten.primary == true
                      = "小"
                  - if kindergarten.middle == nil
                    = "no input"
                  - else
                    - if kindergarten.middle == true
                      = "中"
                  - if kindergarten.high == nil
                    = "no input"
                  - else
                    - if kindergarten.high == true
                      = "高"

            %h4.menuline
              = "小学校　"
            -primary.each do |primary|
              = link_to school_path(primary) do
                %h4.menuline1
                  = primary.name
                %p.menuline2
                  ="　場所："
                  =primary.location[0,8]
                  ="…/カリキュラム："
                  =primary.program
                  ="/口コミ数："
                  =primary.comments.count
                  ="区分："
                  - if primary.kindergarten == nil
                    = "no input"
                  - else
                    - if primary.kindergarten == true
                      = "幼"
                  - if primary.primary == nil
                    = "no input"
                  - else
                    - if primary.primary == true
                      = "小"
                  - if primary.middle == nil
                    = "no input"
                  - else
                    - if primary.middle == true
                      = "中"
                  - if primary.high == nil
                    = "no input"
                  - else
                    - if primary.high == true
                      = "高"

            %h4.menuline
              = "中学校　"
            -middle.each do |middle|
              = link_to school_path(middle) do
                %h4.menuline1
                  = middle.name
                %p.menuline2
                  ="　場所："
                  =middle.location[0,8]
                  ="…/カリキュラム："
                  =middle.program
                  ="/口コミ数："
                  =middle.comments.count
                  ="区分："
                  - if middle.kindergarten == nil
                    = "no input"
                  - else
                    - if middle.kindergarten == true
                      = "幼"
                  - if middle.primary == nil
                    = "no input"
                  - else
                    - if middle.primary == true
                      = "小"
                  - if middle.middle == nil
                    = "no input"
                  - else
                    - if middle.middle == true
                      = "中"
                  - if middle.high == nil
                    = "no input"
                  - else
                    - if middle.high == true
                      = "高"

            %h4.menuline
              = "高校"
            -high.each do |high|
              = link_to school_path(high) do
                %h4.menuline1
                  = high.name
                %p.menuline2
                  ="　場所："
                  =high.location[0,8]
                  ="…/カリキュラム："
                  =high.program
                  ="/口コミ数："
                  =high.comments.count
                  ="区分："
                  - if high.kindergarten == nil
                    = "no input"
                  - else
                    - if high.kindergarten == true
                      = "幼"
                  - if high.primary == nil
                    = "no input"
                  - else
                    - if high.primary == true
                      = "小"
                  - if high.middle == nil
                    = "no input"
                  - else
                    - if high.middle == true
                      = "中"
                  - if high.high == nil
                    = "no input"
                  - else
                    - if high.high == true
                      = "高"

            .topspace
            .topspace
            .topspace
            .topspace


        #2.tab-pane
          -kokugai = []
          -kokugai = @schools.where(japan:false)
          -kokugai.each do |kokugai|
            / -if kokunai.location.include?("東京")
            / -if kokugai.location == "Hamburg" || kokugai.location == "Singapore" || kokugai.location == "San Diego" || kokugai.location == "Bangkok" || kokugai.location == "Madagascar"|| kokugai.location == "Beijing" || kokugai.location == "Brussels" || kokugai.location == "Burnaby"
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              %h4.menuline
                =kokugai.location
              = link_to school_path(kokugai) do
                %h4.menuline1
                  = kokugai.name
                %p.menuline2
                  ="カリキュラム："
                  =kokugai.program
                  ="/口コミ数："
                  =kokugai.comments.count
                  ="区分："
                  - if kokugai.kindergarten == nil
                    = "no input"
                  - else
                    - if kokugai.kindergarten == true
                      = "幼"
                  - if kokugai.primary == nil
                    = "no input"
                  - else
                    - if kokugai.primary == true
                      = "小"
                  - if kokugai.middle == nil
                    = "no input"
                  - else
                    - if kokugai.middle == true
                      = "中"
                  - if kokugai.high == nil
                    = "no input"
                  - else
                    - if kokugai.high == true
                      = "高"
            .topspace
            .topspace
            .topspace
            .topspace
            .topspace