
.topspace
%p
  = notice

%h1
  Listing Schools

%table
  %thead
    %tr
      %th
        No.
      %th
        口コミ数
      %th
        name
      %th
        location
      %th
        program
      %th
        kindergarten
      %th
        primary
      %th
        middle
      %th
        high
      %th

  %tbody
    -@schools.each do |school|
      %tr
        %td
          = school.id
        %td
          = school.comments.count
        %td
          = school.name
        %td
          = school.location

        %td
          = school.educationalprogram
        %td
          - if school.kindergarten == nil
            = "no input"
          - else
            - if school.kindergarten == true
              = "幼"
        %td
          - if school.primary == nil
            = "no input"
          - else
            - if school.primary == true
              = "小"
        %td
          - if school.middle == nil
            = "no input"
          - else
            - if school.middle == true
              = "中"
        %td
          - if school.high == nil
            = "no input"
          - else
            - if school.high == true
              = "高"
        %td
          = link_to 'Show', school

        - if logged_in?
          %td
            = link_to 'Edit', edit_school_path(school)
          %td
            = link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }


- if logged_in?
  %h2
    = link_to 'New School', new_school_path
- else
  = link_to '(To Admin)新しい学校を登録するには登録/ログイン', new_registrations_path, method: :get



.mainbody
  .row
    .tabbable
      #content
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#1"}
              %h4 国内
          %li
            %a{"data-toggle" => "tab", :href => "#2"}
              %h4 国外
      #my-tab-content.tab-content
        #1.tab-pane.active
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            /国内の学校ならば
            -kokunai = []
            -kokunai = @schools.where(japan:true)
            -kokunai.each do |school|
              %h3.menuline1
                =school.name
              %p.menuline2
                =school.location[1,8]
                =".../カリキュラム："
                =school.program
                ="/口コミ数："
                =school.comments.count

            %h4.menuline 東京都(23区内)
            %h3.menuline1 Busy Bees International School
            %p.menuline2 東京都杉並区和泉1…/カリキュラム：なし/口コミ数：5
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h4.menuline 東京都(23区外)
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h4.menuline 神奈川県




        /国外の学校ならば

        #2.tab-pane
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h4.menuline アメリカ
            %h3.menuline1 Busy Bees International School
            %p.menuline2 ニューヨーク…/カリキュラム：IB/口コミ数：3
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h4.menuline イギリス
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h4.menuline ロンドン...