
.topspace

%p#notice
  = notice


.mainbody
  = link_to '戻る', schools_path
  .lineorange
  .lineyellow
  .container3
    .school-info
      %h2
        =@school.name
      %table.table{:style => "margin-bottom: 0px"}
        %tbody
          %tr
            %td 所在地
            %th
              =@school.location
          %tr
            %td 区分
            %td
              - if @school.kindergarten == nil
                = "no input"
              - else
                - if @school.kindergarten == true
                  = "幼"

              - if @school.primary == nil
                = "no input"
              - else
                - if @school.primary == true
                  = "小"

              - if @school.middle == nil
                = "no input"
              - else
                - if @school.middle == true
                  = "中"

              - if @school.high == nil
                = "no input"
              - else
                - if @school.high == true
                  = "高"


  .container4
    .detail-reviews
      %h5
        口コミが
        =@school.comments.count
        件見つかりました。
      %ul.detail-reviews-list{:style => "padding-left: 30px; padding-right: 30px;"}



        / ここにコメント一覧
      - @comments.each do |c|

        %li.detail-reviews-block
          .review-box
            .row
              .person-picture.col-xs-4.col-sm-4.col-md-2.col-lg-2{:style => "float: left;"}
                %a{:href => ""}
                  %img.img-responsive
                    - image_tag("person.jpg", :style=>"width: 130px; height: 130px;")
                    / {:src => "../assets/images/person.jpg", :style => "width: 70%; margin-bottom: 30px;"}
                    
              .balloon.col-xs-12.col-sm-12.col-md-10.col-lg-10{:style => "float: right;"}
                %h
                %p
                  =auto_link(simple_format(c.content))
                %p
                  =c.created_at
                %p
                  =link_to '編集', edit_school_comment_path(@school.id, c.id)


              .balloon.profile.col-xs-8.col-sm-8.col-md-2.col-lg-2{:style => "float: left;"}
                %h
                  在籍年数：○年(○年生～○年生)
                  %br 入学時の英語レベル：日常会話に支障が無い


  .lineorange
  .lineyellow


/ ここにコメント追加 or LOGIN/新規登録の ボタン
.adminpage

  - if logged_in?
    %h5
      管理者画面：この学校についての口コミを投稿
    = form_for([@school, @school.comments.build]) do |f|
      %p
        = f.label :content
        = f.text_area :content
      %p
        = f.submit
    %h5
      管理者画面：
      = link_to '学校情報をここから編集', edit_school_path(@school)
  - else
    = link_to '投稿・閲覧するには登録/ログイン', new_registrations_path, method: :get


