
.topspace

%p#notice
  = notice

.mainbody
  = link_to '戻る', schools_path
  .lineorange
  .lineyellow
  .container3
    .school-info
      %h2
        =@school.name
      %table.table{:style => "margin-bottom: 0px"}
        %tbody
          %tr
            %td 所在地
            %th
              =@school.location
          %tr
            %td 区分
            %td
              - if @school.kindergarten == nil
                = "no input"
              - else
                - if @school.kindergarten == true
                  = "幼"

              - if @school.primary == nil
                = "no input"
              - else
                - if @school.primary == true
                  = "小"

              - if @school.middle == nil
                = "no input"
              - else
                - if @school.middle == true
                  = "中"

              - if @school.high == nil
                = "no input"
              - else
                - if @school.high == true
                  = "高"


  .container4
    .detail-reviews
      %h5
        口コミが
        =@school.comments.count
        件見つかりました。
      %ul.detail-reviews-list{:style => "padding-left: 30px; padding-right: 30px;"}



        / ここにコメント一覧
      - @comments.each do |c|

        %li.detail-reviews-block
          .review-box
            .row
              .person-picture.col-xs-4.col-sm-4.col-md-2.col-lg-2{:style => "float: left;"}
                %a{:href => ""}
                  / %img.img-responsive
                  / - image_tag("person.jpg", :style=>"width: 130px; height: 130px;")
                  / {:src => "../assets/images/person.jpg", :style => "width: 70%; margin-bottom: 30px;"}
              .balloon.col-xs-12.col-sm-12.col-md-10.col-lg-10{:style => "float: right;"}
                %h
                %p
                  -if logged_in?
                    =auto_link(simple_format(c.content))
                    %p
                      =c.created_at
                  -else
                    =auto_link(simple_format(c.content[0,50]))
                    ="　　　　　"
                    ="....続きはログインしてご覧ください。"

              .balloon.profile.col-xs-8.col-sm-8.col-md-2.col-lg-2{:style => "float: left;"}
                %h
                  / %i.fa.fa-user.fa-3x  herokuエラーのため使えなかった。
                  =auto_link(simple_format(c.userdetail))
              -if logged_in? && current_user.email=="haru.okaniwa@ezweb.ne.jp"
                %p
                  =link_to '　　この口コミを編集　　', edit_school_comment_path(@school.id, c.id)
                  =link_to '削除', school_comment_path(@school.id, c.id), method: :delete, data: { confirm: 'Are you sure?' }

                  / = link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }

  .lineorange
  .lineyellow


/ ここにコメント追加 or LOGIN/新規登録の ボタン
.adminpage

  - if logged_in?&& current_user.email == "haru.okaniwa@ezweb.ne.jp"
    %h5
      管理者画面：この学校についての口コミを投稿
    = form_for([@school, @school.comments.build]) do |f|
      %p
        = "口コミ内容："
        = f.text_area :content
      %p
        = "口コミ投稿者の詳細"
        = f.text_area :userdetail, value: :"在籍年数：○年(○年生～○年生)、入学時の英語レベル：日常会話に支障が無い、など"

      %p
        = f.submit
    %h5
      管理者画面：
      = link_to '学校情報をここから編集', edit_school_path(@school)


  - else
    = link_to '管理者：投稿・閲覧するには登録/ログイン', new_registrations_path, method: :get


